[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
psycopg2 = "*"
requests = "*"
pillow = "*"
pyjwt = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
