{% extends "base.html" %}

{% block title %}
Home | Rentwala
{% endblock title %}

{% block body %}
<div style="height: 90.55vh; background-image: url('{{property.images.0.image}}'); background-size: cover; background-position: center;">
    <span class=' position-absolute fst-italic' style="top:10rem; right:3rem; color:white; font-size:3rem;">{{property.title}}</span>
</div>
<div class='vh-100 p-2' style='background-color:rgb(225, 187, 150);'>
    <div class='d-flex justify-content-center fs-5'>O W N E R</div>
    <div class='d-flex justify-content-center mb-2' style='font-size:2rem;'>{{property.landlord | upper}}</div>
    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for image in property.images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    {% comment %} <img src="{{ image.image }}" class="d-block w-100" alt="Property Image"> {% endcomment %}
                    <div class='shadow rounded' style="height: 57.5vh; background-image: url('{{image.image}}'); background-size: cover; background-position: center;">

                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container text-white">
        <div class="d-flex justify-content-center">
            <!-- First Div: Property Info -->
            <div class="m-3 p-3 bg-dark bg-opacity-50  rounded">
                <h5 class="text-center">{{ property.property_type |upper }}</h5>
                <p>{{ property.title }}</p>
                <p>{{ property.description }}</p>
                <p>₹{{property.price_per_month}}</p>
            </div>

            <!-- Second Div: Address Info -->
            <div class="m-3 p-3 bg-dark bg-opacity-50 rounded">
                <h5 class="text-center">ADDRESS</h5>
                <p>{{ property.address }}</p>
                <p>{{ property.city }}, {{ property.state }}</p>
            </div>

            <!-- Third Div: Property Features -->
            <div class="m-3 p-3 bg-dark bg-opacity-50  rounded">
                <h5 class="text-center">FEATURES</h5>
                <p>Bedrooms: {{ property.num_of_bedrooms }}</p>
                <p>Bathrooms: {{ property.num_of_bathrooms }}</p>
                <p>Available From: {{ property.available_from }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}